* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* transition: all 0.2s linear;
  transition: width none; */
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
}
.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}
.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--green);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}


.header .header-1 {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo {
  font-size: 3.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .header-1 .search-form {
  width: 50rem;
  height: 4rem;
  border: 3px solid black;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header-1 .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

#search-btn {
  display: none;
}

.header .header-2 .navbar {
  background-color: black;
  text-align: center;
}

.header .header-2 .navbar a {
  color: #fff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.row{
  /* padding-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.col-1{
  margin-left: 80px;
  width: 400px;
}
.col-1 h1{
  font-size: 5rem;
}
.col-1 p{
  font-size: 1.5rem;
}
.col-2{
  margin-left: 70px;
  width: 700px;
}

.col-1 .btn{
  margin-top: 2rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 2rem;
  background: black;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

/* <!--- featured books collection starts---> */

.featured .featured-slider .box{
  margin:2rem 0;
  position: relative;
  overflow: hidden;
  border:var(--border);
  text-align: center;
}

.featured .featured-slider .box:hover{
  border:var(--border-hover);
}

.featured .featured-slider .box .image{
  padding:1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
  transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
  height: 25rem;
}

.featured .featured-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  top:0; left:0; right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
  transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
  color:var(--black);
  font-size: 2.2rem;
  padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
  background:var(--green);
  color:#fff;
}

.featured .featured-slider .box .content{
  background:#eee;
  padding:1.5rem;
}

.featured .featured-slider .box .content h3{
  font-size: 2rem;
  color:var(--black);
}

.featured .featured-slider .box .content .price{
  font-size: 2.2rem;
  color:var(--black);
  padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
  font-size: 1.5rem;
  color:var(--light-color);
  text-decoration: line-through;
}
